@charset "UTF-8";

*{
            margin: 0px;
            padding: 0px;
}

::-webkit-scrollbar{
            width: 0PX;
            height: 0PX;
}

img{
            width: 100VW;
}

a{
            display: block;
            background-color: darkred;
            color: white;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
}

a:hover{
            background-color: red;
}